Repository StarLiveShopping/BE, pull requests merged in 2025-03, with the labels that each got.

#6 [STAR-33] feat: 소셜 로그인(카카오, 네이버) 및 폴더 구조 변경
  README.md
  pom.xml
  src/main/java/com/starlive/shopping/ShoppingApplication.java
  src/main/java/com/starlive/shopping/domain/oauth2/CustomOAuth2User.java
  src/main/java/com/starlive/shopping/domain/oauth2/OAuth2LoginFailure.java
  src/main/java/com/starlive/shopping/domain/oauth2/OAuth2LoginSuccess.java
  src/main/java/com/starlive/shopping/domain/oauth2/OAuth2LogoutSuccess.java
  src/main/java/com/starlive/shopping/domain/oauth2/OAuth2UserService.java
  src/main/java/com/starlive/shopping/domain/user/UserEntity.java
  src/main/java/com/starlive/shopping/domain/user/UserRepository.java
  src/main/java/com/starlive/shopping/global/config/WebSecurityConfig.java
  src/main/java/com/starlive/shopping/global/filter/JwtAuthenticationFilter.java
  src/main/java/com/starlive/shopping/global/filter/OAuth2LogoutCheckFilter.java
  src/main/java/com/starlive/shopping/global/jwt/JwtProvider.java
  src/main/java/com/starlive/shopping/global/response/ApiResponse.java
  src/main/java/com/starlive/shopping/global/response/FailedAuthentication.java
  src/main/java/com/starlive/shopping/global/response/GlobalException.java
Labels: 📄 Docs, 📬 API, ✨ Feat

#7 [STAR-34] feat: 소셜 로그인(구글) 구현 및 파일 구조 통합
  pom.xml
  src/main/java/com/starlive/shopping/common/ResponseCode.java
  src/main/java/com/starlive/shopping/common/ResponseMessage.java
  src/main/java/com/starlive/shopping/domain/oauth2/OAuth2LoginSuccess.java
  src/main/java/com/starlive/shopping/domain/oauth2/OAuth2UserService.java
  src/main/java/com/starlive/shopping/global/config/WebSecurityConfig.java
  src/main/java/com/starlive/shopping/global/filter/JwtAuthenticationFilter.java
  src/main/java/com/starlive/shopping/global/jwt/JwtProvider.java
  src/main/java/com/starlive/shopping/global/response/ApiResponse.java
  src/main/java/com/starlive/shopping/global/response/FailedAuthentication.java
  src/test/java/com/starlive/shopping/ShoppingApplicationTests.java
Labels: 📄 Docs, 📬 API, ✨ Feat, 🚧 WIP

#8 [STAR-34] fix: 코드 버그 수정
  pom.xml
  src/main/java/com/starlive/shopping/global/config/WebSecurityConfig.java
Labels: 🐞 Fix, 🔨 Refactor
